@font-face {
 font-family:'Glyphicons Halflings';
 src:url(icons/glyphicons/glyphicons-halflings-regular.eot);
 src:url(icons/glyphicons/glyphicons-halflings-regulard41dd41d.eot?#iefix) format('embedded-opentype'),url(icons/glyphicons/glyphicons-halflings-regular.html) format('woff2'),url(icons/glyphicons/glyphicons-halflings-regular.woff) format('woff'),url(icons/glyphicons/glyphicons-halflings-regular.ttf) format('truetype'),url(icons/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
html {
 height:100%
}
body {
 position:relative;
 min-height:100%
}
a {
 cursor:pointer
}
a:focus {
 outline:0
}
figure {
 position:relative
}
figcaption {
 position:absolute;
 bottom:0;
 opacity:0;
 visibility:hidden;
 width:100%;
 color:#fff;
 padding:10px 15px;
 z-index:2;
 background-color:rgba(0,0,0,.7);
 -webkit-transition:all ease-in-out .2s;
 -o-transition:all ease-in-out .2s;
 transition:all ease-in-out .2s
}
h1,h2,h3,h4,h5,h6 {
 letter-spacing:-.015em
}
a,button,input,textarea {
 outline:0
}
mark {
 background-color:#333;
 padding:2px 6px;
 color:#fff;
 border-radius:2px
}
svg {
 display:block
}
.page-header {
 margin:0;
 padding:0;
 border-bottom-width:0
}
.page-header-inverse .form-control:-ms-input-placeholder {
 color:rgba(255,255,255,.75)
}
.page-header-inverse .form-control::-webkit-input-placeholder {
 color:rgba(255,255,255,.75)
}
.page-header-default {
 background-color:#fff;
 margin-bottom:20px;
 -webkit-box-shadow:0 1px 0 0 #ddd;
 box-shadow:0 1px 0 0 #ddd
}
.text-semibold {
 font-weight:500
}
.text-size-small {
 font-size:12px
}
.text-size-mini {
 font-size:11px
}
ol,ul {
 padding-left:25px
}
dl {
 margin-bottom:0
}
dt {
 margin-bottom:5px;
 font-weight:500
}
@media (min-width:769px) {
}
blockquote {
 margin:0
}
code {
 border-radius:2px;
 word-wrap:break-word
}
kbd {
 font-size:11px;
 vertical-align:text-top;
 -webkit-box-shadow:none;
 box-shadow:none
}
pre {
 padding:20px;
 margin:0;
 -moz-tab-size:4;
 -o-tab-size:4;
 tab-size:4;
 -webkit-hyphens:none;
 -moz-hyphens:none;
 -ms-hyphens:none;
 hyphens:none
}
th {
 font-weight:500
}
legend {
 font-size:12px;
 padding-top:10px;
 padding-bottom:10px;
 text-transform:uppercase
}
label {
 margin-bottom:7px;
 font-weight:400
}
.form-control[class*=bg-]:-ms-input-placeholder {
 color:#fff
}
.form-control[class*=bg-]::-webkit-input-placeholder {
 color:#fff
}
textarea {
 -webkit-appearance:none
}
@media (min-width:1025px) {
}
@media (min-width:769px) {
}
@media (min-width:769px) {
}
.caret {
 font-style:normal;
 font-weight:400;
 border:0;
 margin:0;
 width:auto;
 height:auto;
 text-align:center;
 margin-top:-1px
}
.caret:after {
 content:'\e9c5';
 font-family:icomoon;
 display:block;
 font-size:16px;
 width:16px;
 line-height:1;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}
.dropdown-menu {
 min-width:180px;
 padding:7px 0;
 color:#333;
 -webkit-box-shadow:0 1px 3px rgba(0,0,0,.1);
 box-shadow:0 1px 3px rgba(0,0,0,.1)
}
.dropdown-menu>li {
 position:relative;
 margin-bottom:1px
}
.dropdown-menu>li:last-child {
 margin-bottom:0
}
.dropdown-menu>li>a {
 padding:8px 15px;
 outline:0;
 overflow:hidden;
 text-overflow:ellipsis
}
@media (max-width:768px) {
}
.navbar-fixed-bottom .dropdown .caret {
 border:0
}
.navbar-fixed-bottom .dropdown .caret:after {
 content:'\e9c6'
}
.nav>li>a:focus {
 outline:0
}
@media (min-width:769px) {
}
@media (max-width:768px) {
}
@media (min-width:769px) {
}
@media (min-width:769px) {
}
@media (min-width:769px) {
}
@media (min-width:769px) {
}
@media (min-width:769px) {
}
@media (min-width:769px) {
}
@media (max-width:768px) {
}
@media (min-width:769px) {
}
@media (min-width:769px) {
}
@media (min-width:769px) {
}
@media (max-width:768px) {
}
@media (min-width:769px) {
}
@media (max-width:768px) {
}
@media (min-width:769px) {
}
@media (min-width:769px) {
}
@media (min-width:769px) {
}
@media (max-width:768px) {
}
.navbar {
 margin-bottom:0;
 border-width:1px 0;
 padding-left:0;
 padding-right:0
}
@media (min-width:769px) {
 .navbar {
  padding-left:20px;
  padding-right:20px
 }
}
@media (max-width:768px) {
}
.navbar-collapse {
 text-align:center;
 padding-left:0;
 padding-right:0
}
@media (min-width:769px) {
 .navbar-collapse {
  text-align:left;
  margin-left:-20px
 }
}
@media (min-width:769px) {
}
.navbar-nav {
 margin:0;
 text-align:left
}
.navbar-nav>li>a {
 padding-top:13px;
 padding-bottom:13px
}
@media (max-width:768px) {
 .navbar-nav {
  border-bottom:1px solid rgba(255,255,255,.1)
 }
 .navbar-nav>li+li {
  margin-top:1px
 }
 .navbar-nav>li>a {
  padding-left:20px;
  padding-right:20px
 }
 .navbar-nav>li>a .caret {
  float:right;
  margin-top:2px;
  margin-left:5px
 }
 .navbar-default .navbar-nav {
  border-bottom:1px solid #ddd
 }
 .navbar-nav:last-child {
  border-bottom:0
 }
}
@media (min-width:769px) {
 .navbar-nav {
  margin-left:20px
 }
}
@media (min-width:769px) {
}
.navbar-nav>li>.dropdown-menu {
 margin-top:1px;
 border-top-width:0
}
.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu {
 margin-top:0;
 margin-bottom:1px;
 border-top-width:1px;
 border-bottom-width:0;
 border-top-right-radius:3px;
 border-top-left-radius:3px
}
@media (max-width:768px) {
}
@media (min-width:769px) {
}
@media (min-width:769px) {
 .navbar-right {
  margin-right:0
 }
}
.navbar-default {
 border-top-color:transparent
}
.navbar-default.navbar-fixed-bottom {
 border-top-color:#ddd;
 border-bottom-color:#fff
}
@media (max-width:768px) {
}
@media (max-width:768px) {
 .navbar-default>.navbar-nav>li>a:focus,.navbar-default>.navbar-nav>li>a:hover {
  background-color:#fcfcfc
 }
}
@media (max-width:768px) {
 .navbar-inverse .navbar-nav .open .dropdown-menu a:not(.label-flat):not(.badge-flat):not(.disabled>a) {
  color:#fff
 }
}
@media (max-width:768px) {
}
@media (min-width:769px) {
}
@media (max-width:768px) {
}
@media (max-width:768px) {
}
@media (max-width:768px) {
}
@media (max-width:768px) {
}
@media (max-width:768px) {
}
@media (max-width:768px) {
}
@media (max-width:768px) {
 .navbar .dropdown .dropdown-menu {
  width:100%;
  border-width:0 0 1px 0;
  border-radius:0
 }
 .navbar .dropdown .dropdown-menu>li>a {
  padding-left:20px;
  padding-right:20px
 }
.navbar-fixed-bottom .dropdown .dropdown-menu {
  border-width:1px 0 0 0
 }
}
.breadcrumb {
 border-radius:0;
 margin-bottom:0
}
.breadcrumb>li {
 position:relative
}
.breadcrumb>li>a {
 color:#333
}
.breadcrumb>li>a:focus,.breadcrumb>li>a:hover {
 opacity:.85
}
@media (max-width:768px) {
 .breadcrumb>li {
  position:static
 }
}
.breadcrumb-line {
 position:relative;
 padding-right:20px;
 border-top:1px solid #ddd;
 padding-left: 20px;
}
.breadcrumb-line:after {
 content:'';
 display:table;
 clear:both
}
.breadcrumb-line:first-child {
 border-top-width:0;
}
.page-header .breadcrumb-line:first-child {
 z-index:994
}
.breadcrumb-line:not([class*=bg-]) {
 background-color:#fff
}
.page-header-default .breadcrumb-line:not([class*=bg-]) {
 background-color:#fff;
 position: fixed;
 width: 100%;
 top: 0px;
 height: 48px;
 border-bottom: 1px solid #ddd;
}
.breadcrumb-line .breadcrumb {
 margin-right:46px;
 margin-top: 4px;
}
@media (min-width:769px) {
 .breadcrumb-line .breadcrumb {
  float:left;
  margin-right:0
 }
}
@media (max-width:768px) {
 .breadcrumb-line {
  z-index:998;
  background-color:inherit
 }
}
@media (max-width:768px) {
}
@media (min-width:769px) {
}
@media (min-width:769px) {
}
.media {
 margin-top:20px;
 position:relative
}
.media,.media-body {
 overflow:visible
}
.media-body,.media-left {
 position:relative
}
.media-heading {
 margin-bottom:2px;
 display:block
}
.media-left {
 padding-right:20px
}
@media (max-width:768px) {
}
.panel {
 margin-bottom:20px;
 border-color:#ddd;
 color:#333
}
.panel-body {
 position:relative
}
@media (min-width:769px) {
}
